<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sofas - Buy Sofa Online in India - Exclusive Designs at Best Prices - Pepperfry</title>
    <link rel="stylesheet" href="../css/products.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/xcthvj8eous3atuqybxm" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap" rel="stylesheet" />
</head>
<body>
    <header id="navbar"></header>
    <div class="main">
        <div class="nav">
            <div id="head">
                <div id="head-clip">
                    <h4>ALL SOFAS</h4>
                </div>
            </div>
            <div id="head-categ">
                <div id="head-cate-flex">
                    <div>
                        <div class="head-cate-card">
                            <div>
                                <div><img src="https://ii2.pepperfry.com/media/wysiwyg/banners/Fur_1_Seater_Sofas_27.jpg" /></div>
                            </div>
                            <div>
                                <h5>1 Seater Sofas</h5>
                            </div>
                            <div>
                                <h5>710 Options</h5>
                            </div>
                        </div>
                        <div class="head-cate-card">
                            <div>
                                <div><img src="https://ii2.pepperfry.com/media/wysiwyg/banners/Fur_2_Seater_Sofas_27.jpg" /></div>
                            </div>
                            <div>
                                <h5>2 Seater Sofas</h5>
                            </div>
                            <div>
                                <h5>757 Options</h5>
                            </div>
                        </div>
                        <div class="head-cate-card">
                            <div>
                                <div><img src="https://ii2.pepperfry.com/media/wysiwyg/banners/Fur_3_Seater_Sofas_27.jpg" /></div>
                            </div>
                            <div>
                                <h5>3 Seater Sofas</h5>
                            </div>
                            <div>
                                <h5>897 Options</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dash">
            <div class="blank"></div>
            <div class="outer-spaced">
                <div class="sort-div">
                </div>
            </div>
            <div class="outer-spaced">
                <div></div>
                <div class="main-dash-content-filter">
                    <div>
                        <div>
                            <span>Home</span><br/>
                            <span>> Furniture</span><br />
                            <span>> Sofas & Loungers</span><br />
                            <span>> Sofas</span><br />
                        </div>
                        <div>
                            <h2>APPLY FILTER</h2>
                        </div>
                        <div>
                            <h4>PEPPERFRY BRANDS</h4>
                            <br />
                            <input type="checkbox" onclick="sortLH()"><span>No</span><span></span>(1298)</span><br />
                            <input type="checkbox" onclick="sortHL()"><span>Yes</span><span>(1058)</span><br />
                        </div>
                        <div></div>
                        <div class="flex-input">
                            <h4>BRAND</h4>
                            <div>
                                <input type="checkbox" onclick="sortBrand()"><span>CasaCraft</span><span>(586)</span><br/>
                                <input type="checkbox" onclick="sortBrand1()"><span>Woodsworth</span><span>(268)</span><br />
                                <input type="checkbox" onclick="sortBrand2()"><span>Durian</span><span>(183)</span><br />
                                <input type="checkbox" onclick="sortBrand3()"><span>Furnitech</span><span>(126)</span><br />
                                <input type="checkbox" onclick="sortBrand4()"><span>Urban Living</span><span>(102)</span><br />
                            </div>
                        </div>
                        <div class="flex-input">
                            <h4>PRICE</h4>
                            <div>
                                <input type="checkbox" onclick="sortPrice20()"><span>Under ₹ 20,000</span><span>(204)</span><br />
                                <input type="checkbox" onclick="sortPrice40()"><span>₹ 20,000 to ₹ 40,000</span><span>(783)</span><br />
                                <input type="checkbox" onclick="sortPrice60()"><span>Over ₹ 40,000</span><span>(278)</span><br />
                            </div>
                        </div>
                        <div class="flex-input">
                            <h4>PRIMARY MATERIAL</h4>
                            <div>
                                <input type="checkbox"><span>Fabric</span><span>(586)</span><br />
                                <input type="checkbox"><span>Leatherette</span><span>(268)</span><br />
                                <input type="checkbox"><span>Velvet Fabric</span><span>(183)</span><br />
                                <input type="checkbox"><span>Sheesham Wood</span><span>(126)</span><br />
                                <input type="checkbox"><span>Polyester</span><span>(102)</span><br />
                            </div>
                        </div>
                        <div class="flex-input">
                            <h4>CLEARANCE SALE</h4>
                            <div>
                                <input type="checkbox"><span>Yes</span><span>(71)</span><br />
                                <input type="checkbox"><span>No</span><span>(39)</span><br />
                            </div>
                        </div>
                        <div class="flex-input">
                            <h4>DISCOUNT</h4>
                            <div>
                                <input type="checkbox"><span>10% and Above</span><span>(1258)</span><br />
                                <input type="checkbox"><span>20% and Above</span><span>(1169)</span><br />
                                <input type="checkbox"><span>30% and Above</span><span>(966)</span><br />
                                <input type="checkbox"><span>40% and Above</span><span>(700)</span><br />
                                <input type="checkbox"><span>50% and Above</span><span>(100)</span><br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-dash-content-card">
                    <div>
                        <div id="main-card">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content"></div>
    </div>
    <div class="clip-lstbtm-cnt">
        <div class="container">
            <div class="row">
                <div class="pf-col sm-12 pf-padding-40">
                    <div class="cnt-repeat">
                        <h1 class="description-title">Buy Wooden Furniture Online</h1>
                        <p> Buy furniture online @ Pepperfry - India's largest home shopping destination offering a wide range of home and office furniture online. Choosing the right furniture for your home online will add elegance and functionality to your
                            interior decor, while it will also be cost effective and long lasting at the same time. Enjoy fast shipping as well as cash on delivery at our online store.</p>
                        <h2>Things to Consider Before Buying Furniture</h2>
                        <p>There are so many furniture designs available nowadays. Looking at these, you may end up in a confusion of which one to buy. However, you must understand your requirements before purchasing the furniture. Here is a list of common
                            factors that can help you understand your needs better:</p>
                        <ul class="ul-list">
                            <li>Size of the area where the furniture will be placed</li>
                            <li>Size of the furniture</li>
                            <li>Purpose of the furniture, whether bed, sofa, or cabinet</li>
                            <li>Features of the furniture</li>
                            <li>Its material, design, and color</li>
                            <li>Your budget</li>
                        </ul>
                        <p>Who said furniture should only fulfill its purpose? You can go a mile extra with your creativity skills by mixing and matching different furniture designs to beautify your home dcor. For example, you can set up quirky benches as
                            a seating arrangement instead of sofas in the living area and amp up the liveliness of your home. Similarly, your bedroom furniture design reflects your personality, so it is all in the way you style it, then be it a modular
                            wardrobe or a loft bed with storage and desk functionality.</p>
                        <h2 class="description-title">Exclusive Range of Furniture Online</h2>
                        <p>Pepperfry.com is the best place to buy metal as well as wooden furniture online in India. Here at Pepperfry, we are committed to offering our customers the widest range in&nbsp;home furniture&nbsp;like <a href="https://www.pepperfry.com/furniture-tables.html"
                                title="Tables">tables</a>, <a href="#" title="Buy Sofas">sofas</a>, chairs for living room as well as&nbsp;<a href="#" title="Shop for Beds">beds</a>,
                            <a hre="#" title="Sofa Set">sofa set</a>, wardrobes, side tables, dressing tables for bedroom and crockery cabinets, chest of drawers for kitchen especially in solid wood
                            and sheesham <a href="#" title="furniture designs">furniture designs</a>, so that it is easy and hassle free to&nbsp;buy furniture online. Our furniture is intelligently designed
                            to give both comfort and functionality; while we also go to great lengths to ensure that we source only the highest quality raw materials and use the latest technologies to manufacture each individual piece.</p>
                        <h2 class="description-title">Wooden Furniture in Solid Wood &amp; Sheesham Designs</h2>
                        <p>Our exhaustive range offers multiple options in solid, mango, teak, rubber, acacia, ply, engineered and sheesham wood furniture pieces, while all our wooden furniture can also be customized to suit the individual needs of our customers.
                            We also offer solid wood furniture in beds, dining tables, <a href="#" title="Shoe Racks">shoe racks</a>, storage and reception cabinets at our online marketplace. See various
                            <a href="#" title="Sofa Designs">sofa designs</a><a> side by side, compare prices and finishes and find exclusive modular furniture pieces that you would not find at local furniture stores.</a></p>
                        <h2><a>Browse Furniture by Room Type - </a></h2>
                        <p><a href="#" title="Living Room Furniture">Living Room Furniture</a> Living room consists of your stylish and trending sofas, chairs and tables. They should be exquisitely designed
                            and comfortable to sit on. These furniture pieces escalate the aesthetic appeal of your home.</p>
                        <p><a href="#" title="Dining Room Furniture">Dining Room Furniture</a> Apart from looking good, dining room furniture should also be efficient and robust, these include tables, chairs
                            and cabinets. Always remember to emphasize on quality over quantity when it comes to dining room furniture.</p>
                        <p><a href="#" title="Study Room Furniture">Study Room Furniture</a> A place to study and indulge in your passion for books. Study room consists of shelves, cases, cabinets and tables.
                            They should be brilliantly designed and efficient to utilize.</p>
                        <p><a href="#" title="Bedroom Furniture">Bedroom Furniture</a> A room where you retire for the day should always be cozy and comfy. Bed room furniture include bedside tables,
                            mattresses, dressing tables, beds and wardrobes. Its a combination of storage furniture pieces and bedroom essentials, ensure you get the best ones. </p>
                        <p><a href="#" title="Kids Room Furniture">Kids Room Furniture</a> A kids room requires colorful, safe and robust furniture pieces. Kids room consists of beds, bedside and study tables,
                            cradles, sofas and book shelves. Do not compromise on quality while grabbing furniture for your kids room. </p>
                        <p><a href="#" title="Outdoor Furniture">Outdoor Furniture</a> Needless to say these furniture pieces do not have the comfort of being installed inside of your home,
                            so they have to be sturdy and robust to handle the changing weather conditions. Outdoor furniture consist of chairs, swings, loungers, dining sets and tables. Grab these manufactured by reputed brands.</p>
                        <p>You can also avail discounts &amp; offers on wide range of Decor, Modular Kitchen, Carpets, Mattress, Kitchenware and Home Utilities products, that suit your need. So go ahead now and take a good look at our <b>online furniture shopping store</b>.</p>
                        <h2 class="description-title">Frequently Asked Questions</h2>
                        <h2 class="description-title">What is the most popular furniture style?</h2>
                        <p>The most popular furniture styles include rustic farmhouse, modern, glam, and traditional. The chances of these furniture styles going out of trend are minimal.</p>
                        <h2 class="description-title">What are the latest trends in furniture?</h2>
                        <p>The latest trends in furniture include bamboo furniture, denim, jungle prints and neutral palette upholstered furniture, multi-functional furniture, unique metal furniture, and artisan-inspired furniture.</p>
                        <h2 class="description-title">What wood is best for furniture?</h2>
                        <p>Hardwoods such as maple, oak, teak, mahogany, walnut, ash, acacia are some of the most commonly used wood types that are best for furniture.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer"></footer>
</body>
</html>
<script type="module" src="js/product2.js"></script>
<script src="js/products.js"></script>
