body{
    width: 100%;
    font-family: 'Fira Sans',sans-serif;
    margin: auto;
}
#order_summary > img {
    width: 5%;
    height: 5%;
}
#checkout {
    display: grid;
    grid-template-rows: 5% 1% 80% 10%;
}
#card_d{
    height: 100px;
    display: flex;
    flex-direction: row;
    margin: 2%;
    border: 1px solid black;
    background-color: white;
    
}
#right_d{
    width: 90px;
    height: 90px;
    font-size: 13px;
    margin: 2%;
    padding-top: 5%;
}
#left_d{
    margin: 2%;
}
#price_d{
    display: flex;
    flex-direction: row;
}
#logo_size {
    width: 130px;
    height: 30px;
}

#cart_logo {
    width: 20px;
    height: 20px;
    padding-left: 140px;

}

#header {
    padding-top: 10px;
    padding-left: 50px;
    height: 70px;
    display: flex;
}

#content{
    margin-left: 320px;
}

#notification{
    margin-left: 210px;
    width: 250px;
    display: grid;
    grid-template-columns: 70% 30%;
}
img {
    margin-top: 10px;
    width: 80px;
    height: 80px;
}
#description {
    font-size:13px;
}

#description_color {
    color: rgb(161, 161, 161);
}

#cart_color {
    color: #e96a19;
}

hr {
    background-color: rgb(206, 201, 201);
    border: 0.1px solid rgb(206, 201, 201);
    color: rgb(206, 201, 201);
}

#middle {
    display: flex;
    width: 90%;
    margin: auto; 
}

#mid_left {
    display: grid;
    grid-template-rows: 5% 70%;
}

#mid_right {
    height: 200px;
    margin: 0 10px 0 10px;
    border: 1px solid rgb(206, 201, 201);
}

#notification_img{
    padding-top: 7px;
    width: 25px;
    height: 25px;
}

#mid_left1{
    background-color: rgb(228, 229, 230);
    padding: 5px 0 5px 0;
     display: grid; 
    grid-template-rows: 5% 30%; 
}
#order_summary{
    height: 100%;
    margin: 3% 2% 2% 2%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding: 1px;
}
#question_mark, #question_mark1{
    
    width: 25px;
    height: 25px;
    margin: 1% 0 1% 0;
}
#order{
     height: 17%;
    margin: 1% 1% 1% 1%;
    display: none;
    overflow: scroll;

}
.price_color{
    margin-top: 10%;
    width: 5%;
    color: #e96a19;
    font-size: 11px;
}

#footer{
    margin-top: 50pxf;
}

.footer_img{
    width: 55px;
    height: 30px;
}
.footer_img1{
    width: 20px;
    height: 15px;
}
.footer_img11{
    width: 55px;
    height: 22px;
}
.footer_img12{
    width: 45px;
    height: 35px;
}

#mid_left1_inside {
    height: 5%;
    background-color: rgb(228, 229, 230);
    padding: 5px 0 5px 0;
    border: 1px solid rgb(231, 231, 231);
    margin: 0 0 2px 0;
    display: grid;
    grid-template-columns: 82% 10% 3%;
    grid-gap: 5px;
}

#mid_left2 {
    width: 100%;
    margin-top: 0.5%;
    padding: 0 0 10px 0;
}

#mid_left3 {
    background-color: rgb(231, 231, 231);
    font-size:16px;
    padding: 10px 0 5px 0;
    border: 1px solid rgb(231, 231, 231);
    margin: 0 0 2px 0;
    display: grid;
    grid-template-columns: 68% 28% 4%;
}
.mid_left12{
    margin: 1.5% 0 0 1%;
}
#ship{
    margin-left: 1%;
}
#mid_left21 {
    height: 5%;
    background-color: rgb(228, 229, 230);
    padding: 5px 0 5px 0;
    border: 1px solid rgb(231, 231, 231);
    margin: 0 0 2px 0;
    display: grid;
    grid-template-columns: 70% 25% 3%;

}

#mid_left22 {
    border: 1px solid rgb(231, 231, 231);
}

#footer {
    height: 210px;
    padding: 5% 0 0 10%;
    border: 1px solid rgb(231, 231, 231);
    background-color: rgb(228, 229, 230);
    padding: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: 35% 40% 20%;
    justify-content: center;

}

#footer1 {
    height: 100%;
    padding: 0 0 0 15%;

}

#footer11 {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-gap: 5px;
}

#footer2 {
    height: 100px;
}

#footer3 {
    height: 100px;
}
#footer4{
    width: 100%;
    font-size: 14px;
    padding: 7% 0 5% 100%;
    color: rgb(150, 148, 148);
}

#f1 {
    font-size: 13px;
    margin: 10px 0 10px 0;
    color: rgb(150, 148, 148);
}
#give_india{
    display: none;
    grid-template-columns: 50% 50%;
}
.f11 {
    font-size: 11px;
    color: rgb(150, 148, 148);
}
#f22{
    margin-top: 13px;
    font-size: 13px;
}
#f2 {
    font-size: 13px;
    margin: 10px 0 10px 0;
    color: rgb(150, 148, 148);
}

#f3 {
    font-size: 13px;
    margin: 10px 0 10px 0;
    color: rgb(150, 148, 148);
}

#foot2 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 10% 60%;
    color: rgb(150, 148, 148);
}

#foot3 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 30% 30%;
}

#mid_left11 {
    margin: 5px 0 0 0;
    color: rgb(150, 148, 148);
}

#showitems {
    width: 0;
    font-size: 30px;
    margin:0 0 50px 0;
    color: rgb(150, 148, 148);
    cursor: pointer;
    background-color: rgb(228, 229, 230);
}

#dash_style {
    margin: 10% 0 0 1%;
    font-size: 25px;
    color: rgb(150, 148, 148);
    cursor: pointer;
}

#mid_left221 {
    margin: 10px 0 0 0;
    color: rgb(150, 148, 148);
    line-height: 15px;
}

#PaymentMethod {
    font-size: 25px;
    color: rgb(150, 148, 148);
    cursor: pointer;
}

#mid_left32 {
    font-size: 16px;
    margin: 5px 0 0 0;
    color: rgb(182, 178, 178);
    line-height: 15px;
}

#mid_left31 {
    margin: 5px 0 0 0;
    color: rgb(150, 148, 148);
}

form {
    font-size: 20px;
    margin-top: 10px;
}

.label1 {
    width: 50px;
    font-size: 17px;
    padding-right: 150px;
    color: rgb(150, 150, 150);
}

.label2 {
    width: 200px;
    font-size: 17px;
    padding-right: 70px;
    color: rgb(150, 150, 150);
}

.label3 {
    width: 50px;
    font-size: 17px;
    padding-right: 135px;
    color: rgb(150, 150, 150);
}

.label4 {
    width: 50px;
    font-size: 17px;
    padding-right: 135px;
    color: rgb(175, 151, 151);
}

#city,
#city1,
#state1,
#name,
#address,
#address1,
#pincode1,
#pincode,
#moblie,
#moblie1,
#name1,
option {
    width: 500px;
    height: 20px;
    padding: 1%;
    font-size: 15px;
    color: black;
    border: 1px solid rgb(185, 185, 185);
}
#city,
#city1,
#state1,
option{
    margin-left: 2%;
}
#address,
#address1,
#pincode1,
#pincode,
#city,
#city1{
    margin-left: 2%;
}
#name,
#moblie{
    height: 25px;
   
}
/* #order{
     display: none; 
} */
#mid_left2221 {
    padding-left: 200px;
    display: grid;
    grid-template-columns: 30% 30%;
    grid-gap: 1px;
}
label{
    margin-left: 1%;
}
#country {
    width: 56%;
    padding: 5px;
    margin-left: 205px;
    border: 1px solid rgb(185, 185, 185);
    font-size: 14px;
    background-color: rgb(231, 231, 231);
}


#state {
    width: 200px;
    height: 40px;
    padding: 10px;
    margin-left: 32%;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    border: 1px solid rgb(185, 185, 185);;
}
#city,#city1, #state1 {
    width: 220px;
    padding: 10px;
    margin: 0 20% 0 12%;
    border-radius: 2px;
    border: 1px solid rgb(185, 185, 185);
}
#state1,#state{
     width: 220px; 
    margin-left: 62%;
}
#state1{
    width: 200px;
}
#country1,#country{
    width: 64%;
    margin-left: 220px;
    padding: 10px;
    margin-left: 28.5%;
    border: 1px solid rgb(185, 185, 185);
}
#country{
    width: 62%;
}
#address1,#address,#pincode,#pincode1{
    width: 495px;
}
#mid_left2222 {
    padding-left: 225px;
    display: grid;
    font-size: 14px;
    grid-template-columns: 5% 80%;
    grid-gap: 1px;
}

#mid_left2223 {
    padding-left: 200px;
    display: grid;
    font-size: 14px;
    grid-template-columns: 5% 80%;
    grid-gap: 1px;
}


button {
    margin-left: 230px;
    width: 250px;
    height: 40px;
    border:  none;
    color: white;
    background-color: #f16521;
}

#city_part {
    display: grid;
    grid-template-rows: 50% 50%;
}

.material-icons-outlined{ /* plus icon button*/
    color: #969696;            
    font-size: 34px;
    cursor: pointer;
}

#moblie_valid,
#pin_valid,
#address_valid,
#moblie_valid1,
#pin_valid1,
#country_valid1,
#address_valid1{
    font-size: 14px;
    margin-top: 1px;
    padding-left: 270px;
}
#address_vaild1{
    font-size: 14px;
    margin-top: 1px;
    padding-left: 270px;
}
#city_valid,
#city_valid1{
    font-size: 14px;
    margin: 5% 0 0 25%;
}
#state_valid,
#state_valid1{
    padding-left: 70%;
    padding-top: 5%;
    width: 200px;
    font-size: 14px;

}
#address,#address1{
    height: 60px;
    border: 1px solid rgb(185, 185, 185);
}

.below_checkbox{
    margin-top: 5px;
}
#capital{
    text-transform: uppercase;
}
input[type="checkbox"]{
    appearance: none; 
    -webkit-appearance: none; 
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;

}
input[type="checkbox"]:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    content: "\f00c";
    font-size: 14px;
    color:azure;
    display:none;
    
}
input[type="checkbox"]:checked {
    border: none;
    background-color: #f16521;
}
input[type="checkbox"]:checked:after{
    display: block;
}
#name_in_notify{
    margin: 14% 1% 0 0;
}
#right_checkbox{
    display: grid;
    grid-template-columns: 10% 80%
}
.right_below1{
    margin: 10px;
    padding-left: 5%;
    font-size: 10px;
    color: rgb(66, 66, 66);
}
.right_below2{
    margin: 10px;
    padding-left: 5%;
    font-size: 11px;
    color:rgb(185, 185, 185);
}
#right_last{
    padding-top: 2%;
}
a{
    color: rgb(66, 66, 66);
}
#change_billing_color{
    font-size: 17px;
    color: #f16521;
    margin: 1% 1% 2% 1%;
    
}
#mid_right{
    width: 320px;
    padding: 5%;
    font-family: 'Fira Sans', sans-serif;
}
.right_in{
    display:grid;
    padding: 1.5%;
    font-size: 12px;
    grid-template-columns: 70% 30%;
}
.right_in1{
    text-align: right;
    font-size: 12px;
}
#right_in11{
    text-align: right;
    font-size: 12px;
}
#free_color{
    color: #f16521;
    font-weight: bold;
}
#retail{
    color: rgb(21, 128, 21);
}
#tax{
    font-size: 11px;
    color:rgb(185, 185, 185);
}
#total_font{
    font-size: 17px;
    font-weight: bold;
}
#total_value{
    font-size: 16px;
}
#more{
    padding:1% 2% 0 0;
    font-size: 20px;
}
.num1{
    display: grid;
    grid-template-columns: 29% 60% 2%;
}
.nme{
    display: grid;
    grid-template-columns: 29% 60%;

}
#shipping
{
    margin-left: 1%;
}
.label1,
.label2{
    padding-left: 5px;
}