body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

#navbar {
  position: fixed;
  background-color: white;
  z-index: 501;
}

#links {
  display: flex;
  height: 75px;
}

#logo {
  width: 14.5%;
  margin-left: 42px;
}

#logo > a > img {
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
}

#searchbar {
  margin-left: 36px;
  padding-top: 16px;
}

#searchbar > input {
  width: 674px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

#searchbar > input:focus {
  outline: none;
}

#searchbar > input::placeholder {
  font-size: 0.88rem;
  padding-top: 1px;
  padding-left: 8px;
  color: #aaaaaa;
  font-family: "Fira Sans", sans-serif;
}

#searchbar > i {
  position: absolute;
  left: 71%;
  padding-top: 7px;
  font-size: 2rem;
}

#icon {
  display: flex;
  padding: 15px;
  margin-left: 20px;
  padding-bottom: 0;
}

.links {
  display: flex;
  flex-direction: column;
  margin-right: 33px;
  text-align: center;
}

.links:hover {
  cursor: pointer;
}

.links > span {
  font-size: 0.8rem;
}

.links .material-icons-outlined {
  font-size: 1.7rem !important;
  padding-bottom: 2px;
  color: black;
}

#signin-div,
#login-div {
  position: absolute;
  margin-top: 50px;
  right: 20px;
  width: 130px;
  height: 80px;
  z-index: 203;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: none;
}

#signin-div > button {
  font-size: 0.68rem;
  border: none;
  padding: 10px;
  color: white;
  background-color: #f36523;
}

#signin-div > button:hover {
  cursor: pointer;
}

#signin-div > p {
  font-size: 0.68rem;
  text-align: left;
  color: black;
}

#login-div {
  position: absolute;
  margin-top: 50px;
  right: 20px;
  width: 110px;
  height: 80px;
  z-index: 303;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: none;
}

#category {
  display: flex;
  padding-top: 12.5px;
  padding-left: 54px;
  border-top: 1px solid #e7e7e7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#category > div {
  margin-right: 59.3px;
  height: 33px;
}

#category > div > a {
  font-size: 0.86rem;
  text-decoration: none;
  color: black;
}

#category > div:hover {
  font-weight: bold;
  cursor: pointer;
  height: 28px;
  border-bottom: 5px solid #f36523;
}

#furniture-dropdown {
  width: 90.5%;
  margin-left: 54px;
  height: 450px;
  display: none;
  z-index: 101;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#living-dropdown {
  width: 90.5%;
  margin-left: 54px;
  height: 420px;
  display: none;
  z-index: 102;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#furniture-a {
  padding: 12px;
  border-bottom: 1px solid lightgrey;
}

#furniture-a > span {
  margin-right: 107px;
  font-size: 0.85rem;
  font-weight: bold;
}

.furniture-b {
  width: 11.5%;
  height: 375px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.furniture-b > a {
  text-decoration: none;
  color: black;
  font-size: 0.85rem;
  padding-bottom: 14px;
}

.furniture-b > a:hover {
  color: #f36523 !important;
  font-weight: bold;
}

#signin-modal,
#login-modal {
  position: absolute;
  margin-top: 50px;
  left: 280px;
  top: 0px;
  width: 55%;
  height: 500px;
  z-index: 204;
  background-color: white;
  border-radius: 3px;
  display: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#login-modal-text {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 250px;
}

#login-modal-text > p {
  color: #f36523;
  font-weight: bold;
}

#close,
#close1 {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 1.5rem;
}

#close:hover {
  cursor: pointer;
}

#close1:hover {
  cursor: pointer;
}

/* SignUp */

.mainPage {
  height: 80vh;
  width: 57vw;
  color: white;
  padding: 0;
  display: flex;
}

.left img {
  width: 100%;
  height: 500px;
}

.left {
  width: 40%;
  float: left;
}

.right {
  width: 50%;
  float: left;
}

.link {
  color: #f16521;
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
}

.rightUp {
  min-height: 366px;
  box-sizing: border-box;
}

.rightInner {
  padding: 10% 0 0 12%;
  background-color: rgba(231, 231, 231, 0.3);
}

form {
  display: block;
  margin-top: 0em;
}

.container {
  margin-bottom: 25px;
  position: relative;
}

.container .Input {
  background: 0 0;
  border: 0;
  height: 30px;
  width: 100%;
  font-family: "Fira Sans", sans-serif;
  background-image: linear-gradient(#d8d8d8, #d8d8d8);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #969696;
}

.Input:focus {
  outline: none;
}

.mainPage button {
  align-items: center;
  background-color: #e75a16;
  border: none;
  display: block;
  outline: 0;
  width: 100%;
  height: 40px;
  font-weight: 600;
  color: white;
  box-sizing: border-box;
  text-transform: uppercase;
}

.rightdown {
  text-align: center;
  padding: 0 10% 0 12%;
  box-sizing: border-box;
}

.rightdown-1 {
  width: 100%;
  border: 1px solid #d8d8d8;
  display: block;
  letter-spacing: 0.23px;
  padding: 6%;
  font-size: 15px;
  line-height: 18px;
}

.social {
  color: #969696;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4%;
  font-size: 15px;
  line-height: 20%;
  font-family: "Fira Sans", sans-serif;
  margin-top: 5%;
}

.social-image {
  display: inline-block;
  width: 10%;
  height: 10%;
  vertical-align: middle;
  margin-top: 4%;
}

.social-image img {
  border-style: none;
  max-width: 100%;
}

.login_span {
  color: black;
  font-size: 12px;
  font-weight: 300;
  margin-left: 9px;
  font-family: "Fira Sans", sans-serif;
}

.termconditions {
  color: black;
  font-size: 12px;
  font-weight: 300;
  font-family: "Fira Sans", sans-serif;
}

/* Login */

.loginPage {
  height: 80vh;
  width: 57vw;
  color: white;
  padding: 0;
  display: flex;
}

.left_one img {
  width: 100%;
  height: 500px;
}

.left_one {
  width: 40%;
  float: left;
}

.right_one {
  width: 50%;
  float: left;
}

.right_one_Up {
  box-sizing: border-box;
}

.right_one_Inner {
  padding: 15% 8% 30% 12%;
  background-color: rgba(231, 231, 231, 0.3);
}

form {
  display: block;
  margin-top: 0em;
}

.block {
  margin-bottom: 25px;
  position: relative;
}

.block .input {
  background: 0 0;
  border: 0;
  height: 30px;
  width: 100%;
  font-family: "Fira Sans", sans-serif;
  background-image: linear-gradient(#d8d8d8, #d8d8d8);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #969696;
}

.loginPage button {
  align-items: center;
  background-color: #e75a16;
  border: none;
  display: block;
  outline: 0;
  width: 100%;
  height: 45px;
  font-weight: 600;
  font-family: "Fira Sans", sans-serif;
  color: white;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-transform: uppercase;
}

.right_one_down {
  text-align: center;
  padding: 20px 50px;
  box-sizing: border-box;
}

.right_one_down-1 {
  border: 1px solid #d8d8d8;
  display: block;
  padding: 6%;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 18px;
  width: 100%;
}

.media {
  color: #969696;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4%;
  font-size: 15px;
  line-height: 20%;
  font-family: "Fira Sans", sans-serif;
  margin-top: 5%;
}

.media-image {
  display: inline-block;
  width: 10%;
  height: 10%;
  vertical-align: middle;
  margin-top: 4%;
}

img {
  border-style: none;
  max-width: 100%;
}

input:focus {
  outline: none;
}

/* Footer */

.list > li {
  cursor: pointer;
}

#footer-wrap {
  border: 1px solid #e7ebed;
  background-color: #f4f5f7;
  font-size: 0.8rem;
}

#top-footer,
#bottom-first-footer {
  padding: 1.5% 3% 2% 4%;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.top-footer-col {
  flex-basis: 33.3%;
  margin: 0;
}

#footer-logo,
.footer-col-heading {
  margin-top: 4.3%;
  margin-bottom: 2%;
}

.footer-col-heading > a {
  margin-bottom: 2%;
  text-decoration: none;
  color: black;
}

.list {
  padding: 0%;
  margin-top: 0%;
}

.list a,
.footer-col-wrapper > a,
p {
  text-decoration: none;
  color: #969696;
  line-height: 1.62;
  font-weight: 400;
}

.list li {
  list-style-type: none;
  color: #969696;
}

.footer-col-wrapper {
  padding-right: 18%;
}

.bottom-footer-col {
  flex-basis: 33.3%;
  margin: 0;
}

.wrap-content {
  padding-right: 15%;
}

#cards-wrap {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 8vh 8vh;
}

#cards-wrap > div {
  margin: 0% 15% 15% 0%;
}

#cards-wrap img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.store {
  width: 100%;
  margin: 0%;
  padding-left: 0%;
}

.store > li {
  width: 50%;
  display: block;
  float: left;
  list-style: none;
  margin: 0%;
}

.store > li > a > img {
  width: 95%;
  height: 7vh;
}

.social-media-wrap {
  width: 85%;
  display: flex;
  flex-direction: row;
  margin: 0%;
  padding-left: 0%;
}

.social-media-wrap > li {
  flex-basis: 20%;
  margin: 0%;
  list-style: none;
  padding-left: 0%;
}

.social-media-wrap > li > a > img {
  width: 75%;
  height: 7vh;
}

hr {
  background-color: rgb(236, 233, 233);
  border: 0px;
  height: 2px;
}

#bottom-last-footer {
  padding: 0% 5% 1% 5%;
}

.flex-basis50 {
  flex-basis: 50%;
  padding: 0%;
}

#blf-col > ul {
  padding: 0%;
}

#blf-col > ul > li,
#blf-col > ul > li > a {
  list-style: none;
  text-decoration: none;
  display: block;
  float: left;
  color: gray;
}
